body {
    background-color: rgb(0, 0, 0);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(57, 181, 36);
    text-align: center;
    font-size: 28px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(193, 242, 251);
    text-align: center;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(231, 193, 251);
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(160, 194, 118);
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%; 
}

.gauge_hover {
    width: 100px;
    height: 25px;
    background-color: #db348d;
    color: #fff;
    padding: 10px;
    position: relative;
    top: 70%;
    left: 26%;
    transform: rotate(-10deg);
    text-align: center;
}

.track_hover {
    width: 100px;
    height: 25px;
    background-color: #db348d;
    color: #fff;
    padding: 10px;
    position: relative;
    top: 50%;
    left: 65%;
    transform: rotate(10deg);
    text-align: center;
}

.reduce_hover {
    width: 100px;
    height: 25px;
    background-color: #db348d;
    color: #fff;
    padding: 10px;
    position: relative;
    top: 50%;
    left: 40%;
    transform: rotate(-5deg);
    text-align: center;
}

.tooltip {
    visibility: hidden;
    width: 150px;
    background-color: #f599ef;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.gauge_hover:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.track_hover:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.reduce_hover:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

body {
    padding: 0;
}

.container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
