body {
    background-color: rgb(0, 0, 0);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(57, 181, 36);
    text-align: center;
    font-size: 28px;
}

/* h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 75px;
    text-align: center;
} */

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(193, 242, 251);
    text-align: center;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(231, 193, 251);
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%; 
}

.gauge_hover {
    width: 150px;
    height: 100px;
    background-color: #db348d;
    color: #fff;
    padding: 10px;
    position: relative;
}

.tooltip {
    visibility: hidden;
    width: 150px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.gauge_hover:hover.tooltip {
    visibility: visible;
    opacity: 1;
}

.rect_gauge {
    width: 200px;
    height: 100px;
    position: fixed;
    top: 55%;
    left: 26%;
    background-color: rgb(112, 220, 93);
    margin: 10 auto;
    margin-top: 0px;
    margin-bottom: 10px;
    transform: rotate(-10deg);
    /* float:right; */
}

.rect_track {
    width: 200px;
    height: 100px;
    position: fixed;
    top: 60%;
    left: 60%;
    background-color: rgb(220, 93, 184);
    margin: 10 auto;
    margin-top: 0px;
    margin-bottom: 10px;
    transform: rotate(10deg);
    /* float:left; */
}

.rect_reduce {
    width: 200px;
    height: 100px;
    position: fixed;
    top: 75%;
    left: 40%;
    background-color: rgb(220, 174, 93);
    margin: 10 auto;
    margin-top: 0px;
    margin-bottom: 10px;
    transform: rotate(-5deg);
}

body {
    padding: 0;
}

.container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


