body{
    background: #bb96e0;
}

.accordion {
    background-color: #ff9100;
    font-size: 30px;
    border-radius: 14px 14px 1px 0px;
    color: #ffffff;
    cursor: pointer;
    padding: 8px;
    width: 70%;
    text-align: left;
    border: rgb(0, 0, 0);
    outline: 2px solid rgb(255, 255, 255);
    transition: 0.4s;
}
.accordion1 {
    background-color: #121aa6;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    padding: 8px;
    width: 70%;
    text-align: left;
    border: none;
    outline: 2px solid rgb(255, 255, 255);
    transition: 0.4s;
}
.accordion2 {
    background-color: #ffd500;
    color: #ffffff;
    cursor: pointer;
    font-size: 30px;
    border-radius: 1px 1px 1px 1px;
    padding: 8px;
    width: 70%;
    text-align: left;
    border: none;
    outline: 2px solid rgb(255, 255, 255);
    transition: 0.4s;
}
.accordion3 {
    background-color: #922881;
    color: #ffffff;
    cursor: pointer;
    font-size: 30px;
    border-radius: 1px 1px 14px 14px;
    padding: 8px;
    width: 70%;
    text-align: left;
    border: none;
    outline: 2px solid rgb(255, 255, 255);
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #9cb6b0;
}
.active,
.accordion1:hover {
    background-color: #9cb6b0;
}
.active,
.accordion2:hover {
    background-color: #9cb6b0;
}
.active,
.accordion3:hover {
    background-color: #9cb6b0;
}

.active,
.accordion_:hover {
    background-color: #9cb6b0;
}

.panel {
    padding: 0 18px;
    background-color: rgb(234, 182, 114);
    width: 65.65%;
    outline: 2px solid rgb(255, 255, 255);
    display: none;
    overflow: hidden;
    transition: max-height 0.6s ease-out;
}
.panel1 {
    padding: 0 18px;
    background-color: rgb(126, 160, 233);
    width: 65.65%;
    outline: 2px solid rgb(255, 255, 255);
    display: none;
    overflow: hidden;
    transition: max-height 0.6s ease-out;
}
.panel2 {
    padding: 0 18px;
    background-color: rgb(126, 160, 233);
    width: 65.65%;
    outline: 2px solid rgb(255, 255, 255);
    display: none;
    overflow: hidden;
    transition: max-height 0.6s ease-out;
}
.panel3 {
    padding: 0 18px;
    background-color: rgb(126, 160, 233);
    width: 65.65%;
    outline: 2px solid rgb(255, 255, 255);
    display: none;
    overflow: hidden;
    transition: max-height 0.6s ease-out;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 30px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.accordion1:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 30px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.accordion2:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 30px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.accordion3:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 30px;
    color: #777;
    float: right;
    margin-left: 5px;
}

w3rcontainer {
    border: 1px solid #cccfdb;
    border-radius: 2px;
}

.hover-underline-animation {
    display: inline-block;
    position: absolute;
    color:
        #0087ca;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color:
        #0087ca;
    transform-origin: right bottom;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: left bottom;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}